*{
    padding: 0;
    border: 0;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    background-color: #181818;
}

#plan {
    display: block;
    width:70vw;
    height: auto;
    margin: auto;
}

.gantt_con {
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: flex-start
}

.q_label {
    text-align: left;
}

#questionanswer {
    text-align: left;
    margin:auto;
    max-height: fit-content;
    width: 50vw;
}

.interview {
    text-align: left;
    margin:auto;
    max-height: fit-content;
    width: 50vw;
}

.crc {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.arch {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.gantt {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#hyperlinks {
    font-size: 20px;
    color: #ADD8E6;
    text-decoration: none;
    margin-left: 3px;
}

#hyperlinks:hover {
    text-decoration: underline;
    color: #698892;
    transition: 0.2s;
}

#button1 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(70,99,172);
    color: rgb(210,222,235);
    border-radius: 5px;
    margin-top: 5px;
}

#button1:hover {
    background-color: rgb(53, 77, 140);
    transition: 0.2s;
}

#container {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #98b6ea;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 80px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  .dropdown-content a:hover {
    background-color: #7f9ccd;
    border-radius: 10px;
}

  .dropdown:hover .dropdown-content {
    display: block;
}
